@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
}
.active {
  @apply text-blue-700;
}
.Navbackground {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.071);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}
.gradient {
  position: absolute;
  bottom: -500px;
  width: 100%;
  height: 100%;
  background: rgb(188, 111, 241);
  background: radial-gradient(
    circle,
    rgba(188, 111, 241, 1) 0%,
    rgba(188, 111, 241, 1) 0%,
    rgba(37, 37, 37, 0) 19%
  );
}
.navIcon {
  @apply w-[28px] h-[28px] mr-5;
}
.navTitle {
  @apply hidden md:block md:text-sm xl:text-base font-semibold;
}
.absolute-centered {
  @apply top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2;
}
